.category-section {
  padding: 30px 40px;
  position: relative;
}

.category-section::after {
  content: "";
  position: absolute;
  top: 70px;
  right: 0;
  width: 80px;
  height: 120px;
  background: linear-gradient(to left, white, transparent);
  pointer-events: none;
}


.category-section h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
}


.category-container {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}


.category-container::-webkit-scrollbar {
  display: none;
}


.category {
  min-width: 110px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.category:hover {
  background-color: #fff3f3;
  transform: translateY(-6px);
}


.category img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}


.category p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #444;
}
